
	 li{
		list-style: none;
		
	}
    input{
        border-radius: 4px;
        padding: 4px;
        margin-left: 7%;
        width: 35%;
        text-align: center;
        stroke-color: lightgray;

    }
    a.cu{
        align-items: center;
        color: blue;
    }
    a.uc{
        margin-left: 48%;
        color: black;
        align-items: center;
        justify-content: center;
        text-decoration: none;
    }
p{
    color:blue;
    margin-left: 10%;

}

.ade{
    border: 3px solid rgba(166, 166, 172, 0.425);
    box-sizing: border-box;
    width: 65%;
    height: 15%;
    margin-top: 5%;
    margin-left: 15%;
    appearance:opaque;
}
.ayo{
    text-decoration: none;
    margin-top: 2%;

}
.why{
    background-color:rgba(254, 134, 6, 0.911) ; 
    height: 60px; 
    color: white;
    width: 98%;
    margin-left: 1%; 
    text-align: center;

}
.ok{
    padding: 30px;
    word-spacing: 5px;

}
